*


!README.md
!.gitignore
!src/
!src/**
!src/main.py
!src/parser_ui.py
!src/text.txt
!screenshots/
!screenshots/**
!screenshots/video_display.mov
!screenshots/foto_1.jpg
!screenshots/foto_2.jpg
!screenshots/foto_3.jpg